@{
    var userModules = Context.Items["UserModules"] as List<FINANCE.TRACKER.Models.Login.UserModuleModel>;
}

<div class="sidebar-container">
    <div class="sidebar">
        <ul class="sidebar-menu-list text-secondary scrollbar-macosx">
            <li class="sidebar-head d-md-none d-flex">
                <img class="navbar-logo mr-2" src="" />
                <span class="system-name text-condensed">
                    <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">BUDGET MANAGER</a>
                </span>
            </li>

            @if (userModules != null)
            {
                foreach(var module in userModules)
                {
                    <li class="sidebar-menu" data-page-title="@module.ModuleName">
                        <a class="sidebar-link" data-toggle="tooltip" title="@module.ModuleName" data-placement="right" asp-controller="@module.ModulePage" asp-action="Index"></a>
                        <span class="menu-icon">
                            <i class="@module.Icon"></i>
                        </span>
                        <span class="menu-text">
                            @module.ModuleName
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="sidebar-overlay"></div>
</div>